# APP VARIABLES
APP_NAME="Slim App"
APP_SECRET="app_secret_hash"
APP_ENVIRONMENT="DEV" # LIVE for hidding development errors
APP_URL="http://localhost:8000"
ASSET_BASE="/assets"
ASSET_HASH="abc123"


# email configuration
MAIL_HOST="smtp.mailtrap.io"
MAIL_USERNAME="your_mailtrap_username"
MAIL_PASSWORD="your_mailtrap_password"
MAIL_PORT=587
MAIL_ENCRYPTION=tls


# Database configuration
DB_CONNECTION="sqlite"

# MySQL Database credentials
# DB_HOST="localhost"
# DB_PORT=3306
# DB_DATABASE="your_database_name"
# DB_USERNAME="your_database_username"
# DB_PASSWORD="your_database_password"

# STORE VARIABLES
STORE_NAME="small Ecommerce"
STORE_EMAIL="info@smallecom.co.ke"
STORE_PHONE="+254 712 345 678"
STORE_ACTIVE=true
STORE_CURRENCY="KES"
STORE_ADDRESS="Ngara Road, Next to Ngara Market"
STORE_CITY="Nairobi"
STORE_COUNTRY="Kenya"
OPENING_HOURS="Monday - Saturday: 8:00 AM - 6:00 PM"

# Social Media
SOCIAL_FACEBOOK="https://facebook.com/yourcompany"
SOCIAL_TWITTER="https://twitter.com/yourcompany"
SOCIAL_INSTAGRAM="https://instagram.com/yourcompany"
SOCIAL_LINKEDIN="https://linkedin.com/company/yourcompany"
SOCIAL_TIKTOK="https://tiktok.com/@yourcompany"


# Delivery Settings
FREE_CBD_DELIVERY=false
CBD_DELIVERY_FEE=150
OUTSIDE_CBD_DELIVERY_FEE=300
DELIVERY_TIME="1-2 business days"

# MAIL CONFIGURATION
MAIL_HOST="smtp.mailtrap.io"
MAIL_USERNAME="your_mailtrap_username"
MAIL_PASSWORD="your_mailtrap_password"
MAIL_PORT=587
MAIL_ENCRYPTION=tls

# Notifications
EMAIL_NOTIFICATIONS=true
SMS_NOTIFICATIONS=true
LOW_STOCK_ALERTS=true

# Additional Settings
ADMIN_EMAIL="admin@smallecom.co.ke"
SUPPORT_PHONE="+254 725 211 952"
META_DESCRIPTION="Premium products in Nairobi. Fast CBD delivery. Quality guaranteed."

# PAYMENT GATEWAY CONFIG

# Payment Methods
MPESA_ENABLED=true
PESAPAL_ENABLED=true
CASH_ON_DELIVERY=false
CARD_PAYMENTS=false

# Default Payment Method
DEFAULT_PAYMENT_METHOD=pesapal

# Pesapal Config
PESAPAL_CONSUMER_KEY="dtMIvwczQ/hZvC+rIS9zHIo9kP9zw2lN"
PESAPAL_CONSUMER_SECRET="3yE24OzHt1Sk5eZ6pqFYc+cj3iU="

# M-Pesa Configuration
MPESA_ENVIRONMENT=sandbox
MPESA_CONSUMER_KEY="6RFh09J8XDbEq3OMDK0PCDqEq5S8b3Sx"
MPESA_CONSUMER_SECRET="Z3TA0ACTnwtdiirU"
MPESA_SHORTCODE="174379"
MPESA_PASSKEY='bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919'
MPESA_CALLBACK_URL="https://bat-real-gradually.ngrok-free.app/payment/callback"


# OAuth Credentials
# Google
GOOGLE_CLIENT_ID="your_google_client_id"
GOOGLE_CLIENT_SECRET="your_google_client_secret"
GOOGLE_REDIRECT_URI="http://localhost:8000/auth/google/callback"

# Facebook
FACEBOOK_CLIENT_ID="your_facebook_client_id"
FACEBOOK_CLIENT_SECRET="your_facebook_client_secret"
FACEBOOK_REDIRECT_URI="http://localhost:8000/auth/facebook/callback"
